.gallery-card1-wrapper {
  display: contents;
}
.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-fragment10 {
  display: contents;
}
.home-text14 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment11 {
  display: contents;
}
.home-text17 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}


















@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.contact-form2-wrapper {
  display: contents;
}
.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form2-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-contact-info {
  gap: 16px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 8px 0;
  padding-left: 8px 0;
  padding-right: 8px 0;
  flex-direction: column;
}
.contact-form2-row {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.contact-form2-icon1 {
  fill: #D9D9D9;
}
.contact-form2-email {
  text-decoration: none;
}
.contact-form2-form {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text12 {
  font-family: "Nexa-Regular";
}
.contact-form2-text-input1 {
  width: 100%;
  font-family: "NexaLight";
}
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text13 {
  font-family: "Nexa-Regular";
}
.contact-form2-text-input2 {
  width: 100%;
  font-family: "NexaLight";
}
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text14 {
  font-family: "Nexa-Regular";
}
.contact-form2-textarea {
  width: 100%;
  font-family: "NexaLight";
}
.home-fragment37 {
  display: contents;
}
.home-text89 {
  display: inline-block;
  font-family: "Nexa-Bold";
}
.home-fragment36 {
  display: contents;
}
.home-text83 {
  display: inline-block;
  font-family: "NexaLight";
}
.home-fragment35 {
  display: contents;
}
.home-text82 {
  display: inline-block;
  font-family: "Nexa-Regular";
}
.home-fragment34 {
  display: contents;
}
.home-text79 {
  display: inline-block;
  font-family: "NexaLight";
}
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form {
    width: 100%;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 150;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  height: 99px;
  border-color: #fc8400;
  border-width: 0px;
  border-bottom-width: 5px;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav12 {
  transition: 0.3s;
  text-decoration: none;
}
.home-nav21 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav31 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-nav51 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-social-bar1 {
  width: 100%;
  bottom: 150px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  justify-content: space-between;
}
.home-link10 {
  display: contents;
}
.home-icon10 {
  fill: #D9D9D9;
  width: Small;
  height: var(--dl-size-size-small);
  margin-right: TwoUnits;
  text-decoration: none;
}
.home-link11 {
  display: contents;
}
.home-icon12 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-link12 {
  display: contents;
}
.home-icon14 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-link13 {
  display: contents;
}
.home-icon18 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-hero2 {
  top: 99px;
  width: 100%;
  display: flex;
  z-index: 95;
  position: relative;
  min-height: 100vh;
  align-items: center;
  padding-top: 200px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #141a22;
}
.home-video {
  top: 0px;
  opacity: 0.5;
  z-index: 90;
  position: fixed;
  min-width: 100%;
  min-height: 1000px;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 4rem;
  font-family: "NexaBold";
}
.home-text11 {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 3rem;
  font-family: "NexaLight";
  text-transform: capitalize;
}
.home-social-bar2 {
  width: 100%;
  bottom: 150px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  justify-content: center;
}
.home-link14 {
  display: contents;
}
.home-icon20 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link15 {
  display: contents;
}
.home-icon22 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link16 {
  display: contents;
}
.home-icon24 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link17 {
  display: contents;
}
.home-icon26 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.home-banner1 {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero3 {
  top: -89px;
  flex: 1;
  z-index: 50;
  position: absolute;
}
.home-banner2 {
  padding-top: var(--dl-space-space-threeunits);
  border-color: #fc8400;
  border-width: 1px;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-banner-heading1 {
  text-align: center;
}
.home-gallery1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-component10 {
  text-decoration: none;
}
.home-fragment10 {
  display: contents;
}
.home-text14 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment11 {
  display: contents;
}
.home-text17 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-component11 {
  text-decoration: none;
}
.home-fragment12 {
  display: contents;
}
.home-text20 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment13 {
  display: contents;
}
.home-text23 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-component12 {
  text-decoration: none;
}
.home-fragment14 {
  display: contents;
}
.home-text26 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment15 {
  display: contents;
}
.home-text29 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-component13 {
  text-decoration: none;
}
.home-fragment16 {
  display: contents;
}
.home-text32 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment17 {
  display: contents;
}
.home-text35 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-component14 {
  text-decoration: none;
}
.home-fragment18 {
  display: contents;
}
.home-text38 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment19 {
  display: contents;
}
.home-text41 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-component15 {
  text-decoration: none;
}
.home-fragment20 {
  display: contents;
}
.home-text44 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment21 {
  display: contents;
}
.home-text49 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-banner3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-hero4 {
  top: -89px;
  flex: 1;
  z-index: 50;
  position: absolute;
  align-self: center;
}
.home-banner4 {
  z-index: 105;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #fc8400;
  border-width: 1px;
  background-color: #2f3d50;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-gallery2 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-fragment22 {
  display: contents;
}
.home-text51 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment23 {
  display: contents;
}
.home-text54 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-fragment24 {
  display: contents;
}
.home-text57 {
  color: rgb(152, 152, 152);
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment25 {
  display: contents;
}
.home-text60 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-fragment26 {
  display: contents;
}
.home-text63 {
  color: rgb(152, 152, 152);
  display: inline-block;
  font-family: "NexaLight";
}
.home-fragment27 {
  display: contents;
}
.home-text64 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-fragment28 {
  display: contents;
}
.home-text67 {
  color: #989898;
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment29 {
  display: contents;
}
.home-text69 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-fragment30 {
  display: contents;
}
.home-text71 {
  color: #989898;
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment31 {
  display: contents;
}
.home-text73 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-fragment32 {
  display: contents;
}
.home-text75 {
  color: #989898;
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.home-fragment33 {
  display: contents;
}
.home-text77 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-banner5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-hero5 {
  top: -89px;
  flex: 1;
  z-index: 50;
  position: absolute;
}
.home-banner6 {
  padding-top: 72px;
  border-color: #fc8400;
  border-width: 1px;
  background-color: #141a22;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-fragment34 {
  display: contents;
}
.home-text79 {
  display: inline-block;
  font-family: "NexaLight";
}
.home-fragment35 {
  display: contents;
}
.home-text82 {
  display: inline-block;
  font-family: "Nexa-Regular";
}
.home-fragment36 {
  display: contents;
}
.home-text83 {
  display: inline-block;
  font-family: "NexaLight";
}
.home-fragment37 {
  display: contents;
}
.home-text89 {
  display: inline-block;
  font-family: "Nexa-Bold";
}
.home-footer1 {
  top: 99px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
}
.home-footer2 {
  border-color: #fc8400;
  border-width: 0px;
  background-color: #2f3d50;
  border-top-width: 5px;
}
.home-container2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-nav1 {
  margin-left: 0px;
  text-decoration: none;
}
.home-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text90 {
  font-size: 16px;
  font-family: "NexaBold";
  font-weight: 400;
  line-height: 150%;
}
.home-icon-group {
  width: 230px;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link24 {
  display: contents;
}
.home-icon28 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link25 {
  display: contents;
}
.home-icon30 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link26 {
  display: contents;
}
.home-icon32 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link27 {
  display: contents;
}
.home-icon34 {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text11 {
    text-align: center;
  }
  .home-text12 {
    text-align: center;
  }
  .home-hero3 {
    flex-direction: column;
  }
  .home-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
  .home-hero4 {
    flex-direction: column;
  }
  .home-gallery2 {
    grid-template-columns: 1fr 1fr;
  }
  .home-hero5 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-social-bar1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text10 {
    font-size: 3rem;
  }
  .home-text11 {
    font-size: 2rem;
  }
  .home-social-bar2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-gallery2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner6 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-icon32 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-icon34 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
}
@media(max-width: 479px) {
  .home-hero1 {
    top: 0px;
    width: 100%;
    padding: var(--dl-space-space-twounits);
    position: absolute;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-mobile-menu1 {
    fill: transparent;
    color: transparent;
    padding: 16px;
    z-index: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-social-bar1 {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
    position: static;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .home-icon10 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-icon18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-unit);
  }
  .home-hero2 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-social-bar2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-hero3 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-hero4 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-hero5 {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner6 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer2 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
