.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form2-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-contact-info {
  gap: 16px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 8px 0;
  padding-left: 8px 0;
  padding-right: 8px 0;
  flex-direction: column;
}
.contact-form2-row {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.contact-form2-icon1 {
  fill: #D9D9D9;
}
.contact-form2-email {
  text-decoration: none;
}
.contact-form2-form {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text12 {
  font-family: "Nexa-Regular";
}
.contact-form2-text-input1 {
  width: 100%;
  font-family: "NexaLight";
}
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text13 {
  font-family: "Nexa-Regular";
}
.contact-form2-text-input2 {
  width: 100%;
  font-family: "NexaLight";
}
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text14 {
  font-family: "Nexa-Regular";
}
.contact-form2-textarea {
  width: 100%;
  font-family: "NexaLight";
}
.contact-form2-fragment1 {
  display: contents;
}
.contact-form2-text15 {
  display: inline-block;
}
.contact-form2-fragment2 {
  display: contents;
}
.contact-form2-text16 {
  display: inline-block;
  text-align: center;
}
.contact-form2-fragment3 {
  display: contents;
}
.contact-form2-text19 {
  display: inline-block;
  font-family: "Nexa-Regular";
}
.contact-form2-fragment4 {
  display: contents;
}
.contact-form2-text20 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form {
    width: 100%;
  }
}
