.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-fragment1 {
  display: contents;
}
.gallery-card1-text3 {
  color: #989898;
  display: inline-block;
  align-self: flex-start;
  font-family: "NexaLight";
}
.gallery-card1-fragment2 {
  display: contents;
}
.gallery-card1-text5 {
  display: inline-block;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}


















@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}
